<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <!--config MathJax-->
    <script>
      window.MathJax = {
        tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        skipHtmlTags: [
          'script', 'noscript', 'style', 'textarea', 'pre'
        ],
      };
    </script>

    <script type="text/javascript" id="MathJax-script" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/latest?tex-mml-chtml.js">
    </script>


    {% include nav.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
