<!DOCTYPE html>
<html>
  {% include head.html %}
  <!-- Phần head section mình thêm vào để set icon cho browser tab-->
  <head> 
    <link rel="icon" type="image/png" href="../images/404.jpg">
  </head>
  <body>
    

    <!-- mathjax
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
      // Make responsive
      MathJax.Hub.Config({
      "HTML-CSS": { linebreaks: { automatic: true } },
      "SVG": { linebreaks: { automatic: true } },
      });
    </script>

    <!--config MathJax-->
    <script>
      window.MathJax = {
        tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        skipHtmlTags: [
          'script', 'noscript', 'style', 'textarea', 'pre'
        ],
      };
    </script>

    <!-- <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script> -->


    <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script> -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    


    {% include nav.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}

  </body>
</html>
