<!DOCTYPE html>
<html>
  {% include head.html %}
  <!-- Phần head section mình thêm vào để set icon cho browser tab-->
  <head> 
    <link rel="icon" type="image/png" href="../images/myavatar.jpg">

    <!-- For Latex -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
     -->
  </head>
  <body>
    
    <script>
      window.MathJax = {
        tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        skipHtmlTags: [
          'script', 'noscript', 'style', 'textarea', 'pre',
        ],
      };
    </script>
    
    <!-- <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script> -->

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    {% include nav.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}

  </body>
</html>
